@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic)
@import mixins/mixins
@import modules/modules
@import colors/colors
@import animations/animations

body
	background: #eeeeee

body.login
	padding: 20px
	margin: 0
	background: #eeeeee

*
	box-sizing: border-box
	font-family: 'Roboto', sans-serif
	font-weight: 400